textarea {
    height: 300px;
    width: calc(50vw - 50px); /* 横幅を固定 */
    max-width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
#title {
    cursor: pointer;
}
.center {
    text-align: center;
}
#tooltitle {
    font-size: 3em;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    color: #333;
    margin-top: 16px;
}
input[type="button"]{
    height: 50px;
    width: 150px;
}
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* 子要素を中央揃え */
}
#loading {
    font-size: 3em;
    margin: 50px;
}